<!doctype html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126394770-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-126394770-1');
    </script>
    <link rel="stylesheet" href="css/normalize.css">
  	<link rel="stylesheet" href="css/main.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<link href="https://fonts.googleapis.com/css?family=Open+Sans:600|Roboto:300" rel="stylesheet">
  </head>
  <body>
  	<div class="logobar">
  		<h3 font-family="Open-Sans"> First Sinatra App! </h3>
  	</div>
  	<table class="toptbl">
  		<td><p>pogs</p></td>
   	</table>
  </body>
</html>