<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script src="https://www.googletagmanager.com/gtag/js?id=UA-126394770-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-126394770-1');
	</script>
	<link rel="stylesheet" href="css/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:600|Roboto:300" rel="stylesheet">
</head>
<body>
	<div class="logobar">
		<h3 font-family="Open-Sans"> Bus Times </h3>
	</div>
	<div class="prd">
		<h4 font-family="Open-Sans"><b> 22 | Deming </b></h4>
		<b><div id="22dem" class="bxd">
			<script>
				$('#22dem').append(Math.round(<%=@ttdem%>))
			</script>	
		</div></b>
		<br><h4 font-family="Open-Sans"><b> 36 | Deming </b></h4>
		<b><div id="36dem" class="bxd">
			<script>
				$('#36dem').append(Math.round(<%=@tsdem%>))
			</script>	
		</div></b>
		<br><h4 font-family="Open-Sans"><b> 22 | Division </b></h4>
		<b><div id="22div" class="bxd">
			<script>
				$('#22div').append(Math.round(<%=@ttdiv%>))
			</script>	
		</div></b>
		<br><h4 font-family="Open-Sans"><b> 36 | Division </b></h4>
		<b><div id="36div" class="bxd">
			<script>
				$('#36div').append(Math.round(<%=@tsdiv%>))
			</script>	
		</div></b>




	</div>
</body>
</html>