<!doctype html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126394770-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-126394770-1');
    </script>
    <link rel="stylesheet" href="css/normalize.css">
  	<link rel="stylesheet" href="css/main.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<link href="https://fonts.googleapis.com/css?family=Open+Sans:600|Roboto:300" rel="stylesheet">
  </head>
  <body>
  	<div class="logobar">
  		<h3 font-family="Open-Sans"> First Sinatra App! </h3>
  	</div>
  	
	<div>
		<script>
			$.ajax({
				url: 'https://www.ctabustracker.com/bustime/api/v2/getpredictions?key=uaAwsh6vFzfc4nc66z6YR6DNQ&rt=22&stpid=1836%format=json',
			  	dataType: 'data/json',
			  	format: 'json',
			  	success: function(resp) {
			  		console.log(resp)
			  		document.append('<h5>22 - Deming</h5><br><p>${resp}</p>')
			  	}
			});
		</script>
	</div>

  </body>
</html>